/*{font-family:Arial,Helvetica, sans-serif}*/
nav ul{
    list-style-type:none;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:black;
}
nav li{
    float:right;
}
nav a, .dropbtn{
    list-style-type: none;
    display:inline-block;
    text-align:center;
    padding:14px 16px;
    color:whitesmoke;
    /*background-color:black; */
}
nav li a:hover{
        background-color:black;
}
nav li .dropmenu{
    display:inline-block;
}
nav .menucontent{
    display:none;
    position:absolute;
    background-color:whitesmoke;
    min-width:160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}
nav .menucontent a{
    color:black;
    padding:12px 16px;
    text-decoration:none;
    display:block;
    text-align:left;
}
nav .menucontent a:hover{
    background-color:goldenrod;
    color:whitesmoke;
}
nav .dropmenu:hover .menucontent{
    display:block;
}
.container{
    font-family:Arial, Helvetica, sans-serif;
    Width:60%;
    Margin:auto;
}
header{
    display:block;
    font-family:Arial, Helvetica, sans-serif;
    color:whitesmoke;
    background-color:goldenrod;
    padding: px;
    margin:0;
}
main{
    background-color:#333;
    color:whitesmoke;
    text-align:left;
    padding:20px;
    margin-top:20px;
    border-radius:15px;
}
.container h2{
    color:goldenrod;
    font-family:fantasy;
    letter-spacing:0.1em;
    font-size: 40px;
    font-style:oblique;
    text-shadow:yellow;
}
.list a{
    text-decoration:none;
    color:black;
    width:50%;
}
.list a:hover{
    color:whitesmoke;
    background-color:black;
}
.list{   
    border: 2px #ccc solid;
    border-radius:15px;
    padding: 20px;
    margin-top:20px;
}
.list ul{
    padding:0;
}
.list li{
    padding:0px;
    list-style-image: url(images/drum.png)
}
img.beeld{
    display:block;
    margin:20px auto;
    border:3px darkgoldenrod solid;  
}
footer{
    background-color:black;
    color:whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    margin:auto;
    padding:10px;
}
form{
    display:block;
    font-family:Arial, Helvetica, sans-serif;
    margin:20px;
    padding:0;
}
@media (min-width:1024px){
    header{ background-color:darkgoldenrod;}
    p     { color:darkseagreen;}
}